world/
mods/
logs/
versions/
libraries/
.fabric/
banned-ips.json
banned-players.json
eula.txt
fabric-server-*.jar
ops.json
server.properties
usercache.json
whitelist.json
.env/
fabric-versions.json
cache
config
modrinth.py/
